div.relative {
    position: relative;
    width: 100;
    background-image: url(./autumn.jpg);
    background-size: contain; 
    height: 768px;
    margin-bottom: 10px;
    margin-top: 10%;
    margin-bottom: 10px;
} 

div.absolute {
    position: absolute;
    top: 80px;
    right: 1.5;
    left: 35%;
    width: 500px;
    height: 155px;
    border: 3px solid #73AD21;
    align-items: center;
    justify-content: center;
    fill-opacity: inherit;
    background-color: aliceblue;
    margin-bottom: 10px;
}
